name: Main Workflow

on:
  push:
    branches:
      - 'main'
    tags-ignore:
      - '**'

jobs:
  blah:
    name: BLAH
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - id: app-version
        uses: ./.github/actions/export-version
      - name: use version
        run: |
          echo "env.APP_VERSION: ${{ env.APP_VERSION }}"
          echo "env.DOCKER_TAG: ${{ env.DOCKER_TAG }}"
          echo "steps.app-version.outputs.app-version: ${{ steps.app-version.outputs.app-version }}"
          echo "steps.app-version.outputs.docker-version: ${{ steps.app-version.outputs.docker-version }}"
        shell: bash

